/* General container and form */
.login-container {
    width: 320px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 12px;
    color: #888;
    margin-bottom: 20px;
  }
  
  .tabs a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 16px;
  }
  
  .tabs .active {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .login-form input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-options label {
    font-size: 12px;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  

  .social-login {
    margin-top: 20px;
  }
  
  .social-login p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #555;
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  